@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 380em;
}
header{
    position: relative;
    width: 100%;
    height: 13%;
    background-image: url(assets/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position: relative;
    width: 100%;
    height: 50%;
    background-image: url(assets/back.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main2{
    position: relative;
    background-image: url(assets/main2.png);
    width: 100%;
    height: 80%;
    bottom: 15.3em;
}
footer{
    position: relative;
    width: 100%;
    height: 25%;
    top: 53.2em;
}
.star{
    position: absolute;
    width: 30em;
    height: 8em;
    top: 27.1em;
    left: 20.5em;
}
.kylo-ren{
    position: absolute;
    width: 84.5em;
    height: 62em;
    right: 21.5em;
    z-index: 1;
}
.wars{
    position: absolute;
    width: 31.3em;
    height: 8em;
    top: 28.1em;
    right: 9em;
}
.create-legion{
    position: absolute;
    width: 11em;
    height: 11em;
    top: 39em;
    right: 12em;
    z-index: 1;
}
.begin-to-play{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 155.9em;
    left: 18em;
    z-index: 1;
}
.battlefront-banner{
    position: absolute;
    top: 19em;
    right: 1em;
}
.about-game-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 14.9em;
    bottom: 73.2em;
    left: 60em;
}
.about-the-game{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    align-self: flex-end;
}
.line1{
    position: absolute;
    background-color: black;
    width: 14.5em;
    height: 0.2em;
    align-self: flex-end;
    top: 4.3em;
}
.about-game-text{
    position: absolute;
    width: 28em;
    height: 8em;
    text-align: right;
    justify-self: flex-end;
    align-self: flex-start;
    top: 4.3em;
    right: 0.06em;
    font-family: 'Open Sans', sans-serif;
    font-size: 24.5px;
    letter-spacing: 0px;
    line-height: 1em;
}
.line2{
    position: absolute;
    width: 97.6em;
    height: 0.2em;
    background-color: #707070;
    right: 1em;
    top: 41em;
}
.lord-sifh{
    position: absolute;
    height: 51em;
    width: 56em;
    top: 44em;
    left: 17.5em;
    z-index: 1;
}
.game-estructure{
    position: absolute;
    width: 10em;
    height: 6em;
    top: 18.8em;
    right: 12em;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.5em;
}
mark{
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.rey{
    position: absolute;
    height: 48em;
    right: 4em;
    top: 47.5em;
    z-index: 1;
}
.main-menu{
    position: absolute;
    display: flex;
    width: 31em;
    height: 24em;
    right: 31.5em;
    top: 58em;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    text-transform: uppercase;
}
ul.main-menu li{
    font-size: 1.5em;
}
ul.main-menu li:hover{
    cursor: pointer;
    background-color: rgb(207, 63, 38);
    color: white;
    z-index: 1;
}
.atributes{
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    top: 4.6em;
    left: 8.4em;
}
.four-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.image-group{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 88.2%;
    height: 502px;
    top: 20em;
    left: 7em;
}
.four-images-hovers{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 53.6%;
    height: 520px;
    bottom: 0em;
    z-index: 1;
    left: 50.5em;
}
.four-images-hovers img:hover{
    opacity: 0.8;
}
.four-images-hovers img{
    opacity: 0;
    width: 440px;
    height: 269px;
}
.new-graphics2{
    position: relative;
    opacity: 1;
    right: 1.8em;
}
.new-graphics3{
    position: relative;
    bottom: 1.1em;
}
.new-graphics4{
    position: relative;
    right: 1.8em;
    bottom: 1.1em;
}
.hierarchy{
    position: absolute;
    top: 54em;
    left: 7em;
}
.main2 p{
    position: absolute;
    color: white;
    width: 45em;
   bottom: 27em;
   right: 6.3em;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 100;
   text-align: right;
}
.how-to-play{
    position: absolute;
    color: white;
    right: 24.4em;
    bottom: 7em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: bolder;
}
.stormtrupper-capa-preta{
    position: absolute;
    height: 60em;
    top: 210em;
    left: 6em;
}
.main2-buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    width: 65em;
    height: 46em;
    right: 8em;
    top: 235em;
    z-index: 1;
}
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26%;
    height: 33%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26%;
    height: 33%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26%;
    height: 33%;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.main2-buttons h2{
    font-weight: 400;
    font-size: 40px;
}
.main2-buttons button{
    background-color: black;
    width: 90%;
    height: 22%;
    border: none;
}
.download-text{
    width: 60%;
    text-align: center;
}
.choose-text{
    width: 40%;
    text-align: center;
}
.explore-text{
    width: 30%;
    text-align: center;
}
.main2-buttons button p{
    color: white;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}
.download:hover h2{
   font-weight: 900;
   font-size: 40px;
}
.download:hover button{
    background-color: #D74430;
    cursor: pointer;
}
.download:hover section{
    background-color: #D74430;
}
.choose:hover h2{
    font-weight: 900;
    font-size: 40px;
 }
 .choose:hover button{
     background-color: #D74430;
     cursor: pointer;
 }
 .choose:hover section{
     background-color: #D74430;
 }
 .explore:hover h2{
    font-weight: 900;
    font-size: 40px;
 }
 .explore:hover button{
     background-color: #D74430;
     cursor: pointer;
 }
 .explore:hover section{
     background-color: #D74430;
 }
.main2-buttons section{
    background-color: black;
    width: 36%;
    height: 0.2em;
}
.about-app{
    background-image: url(assets/retangulo.png);
    position: absolute;
    width: 76.75em;
    height: 55.12em;
    bottom: 0em;
}
.about-app-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 80%;
    margin: 10em;
    margin-left: 13em;
}
section.about-app h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
}
.darth-vader{
    position: absolute;
    bottom: 2.9em;
    right: 5.6em;
}
.footer-first-paragraph{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.27em;
    font-weight: 100;
}
section.about-app h2{
    margin-bottom: 1.5em;
}
.store-badges{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35em;
    height: 4.3em;
    top: 2em;
}
.google-play{
    width: 16.8em;
    height: 4.3em;
}
.app-store{
    width: 16.8em;
    height: 4.3em;
}
.under-badges-line{
    position: absolute;
    background-color: #D74430;
    width: 35em;
    height: 0.2em;
    top: 22.5em;
}
.star-wars{
    position: absolute;
    top: 25.9em;
}
.footer-second-paragraph{
    color: white;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.27em;
    font-weight: 100;
    bottom: 1em;
}
@media (max-width: 1440px) {
    body{
        height: 350em;
    }
    header{
        height: 10%;
    }
    .main2{
        height: 80.3%;
    }
    footer{
        height: 30em;
        top: 110em;
    }
    .star{
        width: 22em;
        height: 6em;
        top: 21em;
        left: 16em;
    }
    .kylo-ren{
        width: 60em;
        height: 41em;
        top: 3em;
        left: 10em;
    }
    .wars{
        width: 23em;
        height: 6em;
        top: 21.5em;
        right: 10em;
    }
    .create-legion{
        top: 32em;
        right: 8em;
    }
    .begin-to-play{
        left: 7em;
        bottom: 140em;
    }
    .battlefront-banner{
        right: 0.2em;
    }
    .about-game-box{
        left: 33.6em;
        bottom: 72.7em;
    }
    .about-the-game{
        font-size: 38px;
    }
    .about-game-text{
        width: 26.5em;
        height: 9em;
        top: 5em;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.2px;
        line-height: 1.45em;
    }
    .line2{
        width: 82em;
    }
    .lord-sifh{
        left: 1em;
    }
    .game-estructure{
        right: 10em;
    }
    .main-menu{
        right: 26em;
        font-weight: 600;
    }
    .atributes{
        left: 5em;
    }
    .image-group{
        width: 92%;
        height: 18%;
        left: 5em;
    }
    .green-saber{
        width: 49.2%;
    }
    .four-images img{
        width: 49.2%;
    }
    .four-images-hovers{
        width: 54.2%;
        height: 26.2em;
        left: 39.9em;
    }
    .four-images-hovers img{
        width: 49.9%;
        height: 52.2%;
    }
    .hierarchy{
        width: 92%;
        top: 51em;
        left: 4.8em;
    }
    .main2 p{
        bottom: 35em;
        right: 2.3em;
        font-size: 16px;
    }
    .how-to-play{
        right: 17em;
        bottom: 9em;
    }
    .stormtrupper-capa-preta{
        top: 200em;
        left: 4em;
    }
    .download{
        width: 35%;
    }
    .choose{
        width: 34%;
    }
    .explore{
        width: 34%;
    }
    .download-text{
        width: 70%;
    }
    .choose-text{
        width: 50%;
    }
    .explore-text{
        width: 40%;
    }
    .main2-buttons{
        width: 48%;
        right: 3em;
        top: 228em; 
    }
    .about-app{
        width: 60em;
        height: 46.5em;
        bottom: 0em;
    }
    .about-app-content{
        width: 57%;
        bottom: 6em;
    }
    section.about-app h2{
        margin-bottom: 1em;
    }
    .under-badges-line{
        top: 20em;
    }
    .star-wars{
        top: 23em;
    }
    .footer-second-paragraph{
        top: 26em;
    }
    .darth-vader{
        width: 40em;
        left: 49em;
        bottom: 2em;
    }
}
@media (max-width: 1367px){
    .star{
        top: 20em;
        left: 15.0em;
    }
    .kylo-ren{
        top: 2em;
        left: 9em;
    }
    .wars{
        top: 20.5em;
        right: 6em
    }
    .create-legion{
        right: 5em;
    }
    .battlefront-banner{
        width: 20em;
        top: 23em;
    }
    .about-game-box{
        width: 25em;
        bottom: 69em;
        left: 38.5em;
    }
    .about-the-game{
        font-size: 38px;
    }
    .about-game-text{
        font-size: 15px;
    }
    .line1{
        top: 3.7em;
    }
    .game-estructure{
        right: 8.5em;
    }
    .main-menu{
        right: 22.4em;
    }
    .rey{
        right: 0.2em;
    }
    .green-saber{
        width: 46.6%;
    }
    .four-images-hovers{
        width: 43.5em;
        left: 35.9em;
    }
    .four-images-hovers img{
        width: 50%;
    }
    .stormtrupper-capa-preta{
        left: 2em;
    }
    .download-text{
        width: 75%;
    }
    .darth-vader{
        width: 34.4em;
        height: 50em;
        left: 50em;
        bottom: 3em;
    }
}
@media (max-width: 425px) {
    body{
        width: 100%;
        height: 358.8em;
    }
    header{
        position: relative;
        width: 100%;
        height: 3%;
        background-image: url(assets/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
        background-size: 26.56em  12.5em;
        background-repeat: no-repeat;
    }
    main{
        position: relative;
        width: 100%;
        height: 229em;
    }
    .main2{
        position: relative;
        display: flex;
        background-image: url(assets/main2.png);
        width: 100%;
        height: 60%;
        bottom: 15.3em;
    }
    footer{
        position: relative;
        width: 100%;
        height: 65em;
        top: 54em;
    }
    .star{
        position: absolute;
        width: 8em;
        height: 2em;
        top: 6.6em;
        left: 3.3em;
        
    }
    .kylo-ren{
        position: absolute;
        width: 17.3em;
        height: 12.1em;
        top: 1.3em;
        left: 3em;
        z-index: 1;
    }
    .wars{
        position: absolute;
        width: 8em;
        height: 2em;
        right: 0.8em;
        top: 6.6em;
        
    }
    .create-legion{
        position: relative;
        top: 14em;
        left: 13.5em ;
        z-index: 1;
    }
    .first-main-background{
        width: 100%;
        height: 90em;
    }
    .begin-to-play{
        position: absolute;
        width: 46%;
        height: 17em;
        top: 1.4em ;
        left: 0.7em;
        z-index: 1;
    }
    .battlefront-banner{
        position: absolute;
        width: 23em;
        top: 20em;
        left: 1.2em;
    }
    .about-game-box{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15em;
        left: 0em;
        bottom: 56em;
    }
    .about-the-game{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        align-self: center;
    }
    .line1{
        position: absolute;
        background-color: black;
        width: 14em;
        height: 0.2em;
        align-self: center;
        top: 4.3em;
    }
    .about-game-text{
        position: absolute;
        width: 28em;
        height: 8em;
        text-align: center;
        align-self: center;
        top: 6.7em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 1em;
    }
    .line2{
        position: absolute;
        width: 85%;
        height: 0.2em;
        background-color: #707070;
        left: 1.8em;
        top: 48em;
    }
    .lord-sifh{
        position: absolute;
        width: 18em;
        height: 20em;
        left: 7.4em;
        top: 69em;
    }
    .game-estructure{
        position: absolute;
        width: 10em;
        height: 6em;
        top: 40em;
        right: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: right;
        line-height: 1.5em;
    }
    mark{
        background-color: transparent;
        font-weight: bolder;
        font-family: 'Roboto', sans-serif;
    }
    .rey{
        position: absolute;
        width: 17em;
        height: 20em;
        right: 12em;
        top: 49em;
        z-index: 0;
    }
    .main-menu{
        position: absolute;
        display: flex;
        width: 27em;
        height: 17em;
        right: 2.5em;
        top: 73em;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
        z-index: 1;
    }
    ul.main-menu li:hover{
        cursor: pointer;
        background-color: rgb(207, 63, 38);
        color: white;
    }
    .atributes{
        position: absolute;
        color: white;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        top: 1.2em;
        left: 3.7em;
        justify-self: center;
    }
    .image-group{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200em;
        top: 8em;
        left: 0em;
    }
    .four-images{
        flex-direction: column;
    }
    .four-images img{
        width: 100%;
    }
    .four-images-hovers{
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 100%;
        left: 0em;
        opacity: 1;
        top: 15.4em;
    }
    .four-images-hovers img{
        background-color: aqua;
        width: 100%;
        height: 15.5em;
        left: 0em;
    }
    .green-saber{
        width: 100%;
    }
    .new-graphics3{
        bottom: 0em;
    }
    .new-graphics4{
        bottom: 0em;
    }
    .hierarchy{
        position: absolute;
        width: 100%;
        top: 90em;
        left: 0em;
    }
    .main2 p{
        position: absolute;
        color: white;
        width: 100%;
       bottom: 24em;
       left: 0em;
       font-family: 'Open Sans', sans-serif;
       font-size: 16px;
       font-weight: 100;
       text-align: center;
    }
    .how-to-play{
        position: absolute;
        color: white;
        width: 60%;
        left: 3em;
        bottom: 9em;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 31px;
        font-weight: bolder;
    }
    .stormtrupper-capa-preta{
        position: absolute;
        width: 70%;
        height: 28em;
        top: 210em;
        left: 4em;
        z-index: 1;
    }
    .main2-buttons{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: space-between;
        width: 100%;
        height: 40em;
        left: 0em;
        top: 240em;
        z-index: 1;
    }
    .download{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 42%;
        height: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .choose{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        height: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .explore{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        height: 33%;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 100;
    }
    .main2-buttons h2{
        font-weight: lighter;
    }
    .main2-buttons button{
        background-color: black;
        width: 90%;
        height: 22%;
        border: none;
    }
    .download-text{
        width: 100%;
        text-align: center;
    }
    .choose-text{
        width: 64%;
        text-align: center;
    }
    .explore-text{
        width: 60%;
        text-align: center;
    }
    .main2-buttons button p{
        color: white;
        font-size: 20px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    .download:hover h2{
       font-weight: 900;
    }
    .download:hover button{
        background-color: #D74430;
    }
    .download:hover section{
        background-color: #D74430;
    }
    .choose:hover h2{
        font-weight: 900;
     }
     .choose:hover button{
         background-color: #D74430;
     }
     .choose:hover section{
         background-color: #D74430;
     }
     .explore:hover h2{
        font-weight: 900;
     }
     .explore:hover button{
         background-color: #D74430;
     }
     .explore:hover section{
         background-color: #D74430;
     }
    .main2-buttons section{
        background-color: black;
        margin-bottom: 2em;
        width: 40%;
        height: 0.2em;
    }
    .about-app{
        position: absolute;
        width: 100%;
        height:100%;
    }
    .about-app-content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;
        right: 13em;
        bottom: 0em;
    }
    section.about-app h2{
        position: absolute;
        color: white;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5em;
        bottom: 23.4em;
    }
    .darth-vader{
        position: absolute;
        width: 25em;
        height: 36em;
        top: 60em;
        left: 0.1em;
    }
    .footer-first-paragraph{
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.27em;
        font-weight: 100;
        text-align: center;
    }
    section.about-app h2{
        margin-bottom: 1em;
    }
    .store-badges{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 35em;
        height: 11em;
        top: 2em;
    }
    .google-play{
        width: 16.8em;
        height: 5em;
    }
    .app-store{
        width: 16.8em;
        height: 5em;
    }
    .under-badges-line{
        position: absolute;
        background-color: #D74430;
        width: 100%;
        height: 0.2em;
        top: 23em;
    }
    .star-wars{
        position: absolute;
        top: 25em;
    }
    .footer-second-paragraph{
        color: white;
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.27em;
        font-weight: 100;
        text-align: center;
        top: 28em;
        z-index: 1;
    }