@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 380em;
}
header{
    position: relative;
    width: 100%;
    height: 13%;
    background-image: url(assets/urn_aaid_sc_US_aaf75fc2-eba3-41ec-bc48-de80d0615154.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position: relative;
    width: 100%;
    height: 50%;
    background-image: url(assets/back.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main2{
    position: relative;
    background-image: url(assets/main2.png);
    width: 100%;
    height: 80%;
    bottom: 15.3em;
}
footer{
    position: relative;
    width: 100%;
    height: 25%;
    top: 53.2em;
}
.star{
    position: absolute;
    width: 30em;
    height: 8em;
    top: 27.1em;
    left: 20.5em;
}
.kylo-ren{
    position: absolute;
    width: 84.5em;
    height: 62em;
    right: 21.5em;
    z-index: 1;
}
.wars{
    position: absolute;
    width: 31.3em;
    height: 8em;
    top: 28.1em;
    right: 9em;
}
.create-legion{
    position: absolute;
    width: 11em;
    height: 11em;
    top: 39em;
    right: 12em;
    z-index: 1;
}
.begin-to-play{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 155.9em;
    left: 18em;
    z-index: 1;
}
.battlefront-banner{
    position: absolute;
    top: 19em;
    right: 1em;
}
.about-game-box{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 30em;
    height: 14.9em;
    bottom: 73.2em;
    left: 60em;
}
.about-the-game{
    /* background-color: aquamarine; */
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    align-self: flex-end;
}
.line1{
    position: absolute;
    background-color: black;
    width: 14.5em;
    height: 0.2em;
    align-self: flex-end;
    top: 4.3em;
}
.about-game-text{
    /* background-color: blueviolet; */
    position: absolute;
    width: 28em;
    height: 8em;
    text-align: right;
    justify-self: flex-end;
    align-self: flex-start;
    top: 4.3em;
    right: 0.06em;
    font-family: 'Open Sans', sans-serif;
    font-size: 24.5px;
    letter-spacing: 0px;
    line-height: 1em;
}
.line2{
    position: absolute;
    width: 97.6em;
    height: 0.2em;
    background-color: #707070;
    right: 1em;
    top: 41em;
}
.lord-sifh{
    position: absolute;
    height: 51em;
    width: 56em;
    top: 44em;
    left: 17.5em;
    z-index: 1;
}
.game-estructure{
    /* background-color: brown; */
    position: absolute;
    width: 10em;
    height: 6em;
    top: 18.8em;
    right: 12em;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.5em;
}
mark{
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.rey{
    position: absolute;
    height: 48em;
    right: 4em;
    top: 47.5em;
    z-index: 1;
}
.main-menu{
    position: absolute;
    display: flex;
    /* background-color: turquoise; */
    width: 31em;
    height: 24em;
    right: 31.5em;
    top: 58em;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    text-transform: uppercase;
}
ul.main-menu li{
    font-size: 1.5em;
}
ul.main-menu li:hover{
    cursor: pointer;
    background-color: rgb(207, 63, 38);
    color: white;
}
.atributes{
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    top: 4.6em;
    left: 8.4em;
}
.green-saber{
    position: absolute;
    top: 19em;
    left: 7em;
}
.stormtrupper-canon{
    position: absolute;
    top: 19em;
    left: 58.50em;
}
.giant-robots{
    position: absolute;
    top: 19em;
    left: 84.12em;
}
.spaceships-battling{
    position: absolute;
    top: 34.68em;
    left: 58.50em;
}
.three-stormtruppers{
    position: absolute;
    top: 34.68em;
    left: 84.12em;
}
.new-graphics:hover{
    opacity: 0.8;
}
.new-graphics{
    opacity: 0;
    position: absolute;
    width: 27.375em;
    top: 17.59em;
    left: 57.5em;
}
.hierarchy{
    position: absolute;
    top: 54em;
    left: 7em;
}
.main2 p{
    /* background-color: turquoise; */
    position: absolute;
    color: white;
    width: 45em;
   bottom: 27em;
   right: 6.3em;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 100;
   text-align: right;
}
.how-to-play{
    position: absolute;
    color: white;
    right: 24.4em;
    bottom: 7em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: bolder;
}
.stormtrupper-capa-preta{
    position: absolute;
    height: 60em;
    bottom: 65em;
    left: 6em;
}
.footer-buttons{
    /* background-color: aquamarine; */
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    width: 65em;
    height: 19em;
    right: 6em;
    top: 9em;
    justify-content: space-between;
}
.about-app{
    background-image: url(assets/retangulo.png);
    position: absolute;
    width: 76.75em;
    height: 55.12em;
    bottom: 0em;
}
.darth-vader{
    position: absolute;
    bottom: 2.9em;
    right: 5.6em;
}

